/*Color*/
:root {
    --brand-color: #2F303A;
    --font-color: #F5F4FA;
    --active: #2196F3;
    --black: #000000;
    --favorit: #212121;
    --text: #757575;
    --white: #ffffff;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--favorit);
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--favorit);
}

/* header */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--black);
}

.logo>span {
    color: var(--active);
}

.header-list,
.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--active);
    cursor: pointer;
}

.contact-link,
.contact-link {
    color: var(--text);
}

/* service */

.service {
    background-color: var(--brand-color);
    padding: 200px 0 200px 0;
}

.service-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.service-btn {
    display: block;
    padding: 10px 32px;
    margin: 0 auto;
    color: var(--white);
    background-color: var(--active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* inform */

.inform-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.inform-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text);
}


/* process */


.subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.process-list {
    display: flex;
    justify-content: space-around;

}

/* team */

.team {
    padding: 94px 94px;
    background-color: var(--font-color);
}

.team-list {
    display: flex;
    justify-content: space-around;
}


.team-item {
    margin-top: 50px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--text);
}

/* footer */

.footer {
    padding: 60px 60px;
    background-color: var(--brand-color);

}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    height: 0;
    letter-spacing: 0.03em;
    color: var(--white);

}

.footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-top: 9px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }